src/JAXB/output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalog" type="catalogType"/>
    <xs:complexType name="humanType">
        <xs:sequence>
            <xs:element name="city">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Kyiv"/>
                        <xs:enumeration value="Dnipro"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="street">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Korolova"/>
                        <xs:enumeration value="Levka"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="house">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="99"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="catalogType">
        <xs:sequence>
            <xs:element type="humanType" name="human" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>